/* HEADER STYLE */
.header {
  background-image: url("/img/one.jpg");
  background-repeat: nonno-repeat;
  background-size: cover;
  height: 450px;
  color: #fff;
}

.header__light {
  background-color: rgb(0,0,0,0.3);
  height: 450px;
}

.header__light img {
  width: 80px;
}

.header__light ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header__light li {
  float: right;
}

.header__light li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header__light li a:hover {
  color: red;
  transition: color 300ms ease-in-out;
}

.header__title {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  text-align: center;
}
.header__content {
}

.header__title h1 {
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 50px;
}
.header__title span {
  letter-spacing: 4px;
  font-size: 13px;
}

.header__switch {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}
.header__on {
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
  background: #FF4136;
  width: 85%;
  left: 10%;
  top: 85%;
  height: 7em;
  opacity: 0.9;
  border-radius: 20px;
}

.header__on .header__input--one {
  width: 85%;
}

.header__on .header__input--two {
  width: 90%;
}
.header__submit {
  width: 95%;
  height: 45%;
  border-radius: 20px;
  color: #333;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 5px;
  font-weight: bold;
}

.header__submit:hover {
  background-color: red;
  transition: background-color 300ms ease-in-out;
}
@media (min-width: 575.98px) {
  .header {
    height: 600px;
    background-size: cover;
  }
  .header__light {
    height: 600px;
  }
  .header__title {
    padding-top: 15%;
  }
}

@media (min-width: 991.98px) {
  .header {
    height: 750px;
    background-size: cover;
  }
  .header__light {
    height: 750px;
  }
  .header__title {
    padding-top: 25%;
  }
  .header__title {
    padding-top: 10%;
  }
}

/* Midddle page */
.main__story {
  height: 700px;
}

.main__story--one h4 {
  padding-top: 15%;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 30px;
}

.main__story--container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 10%;
  overflow: hidden;

}

.main__dark {
  background-color: rgb(0,0,0,0.3);
  height: 250px;
}

.main__dark:hover {
  background-color: rgb(0,0,0,0);
  cursor: pointer;
  transition: background 300ms ease-in-out;
}

.main__dark h1 {
  color: #fff;
  font-size: 25px;
  padding-top: 80%;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

.main__part--one {
  background-image: url("/img/zurich.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  transition: transform 800ms ease-in-out;
}


.main__part--two {
  background-image: url("/img/geneva.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  transition: transform 800ms ease-in-out;

}
.main__part--three {
  background-image: url("/img/lucern.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  transition: transform 800ms ease-in-out;

}

/** responsive **/
@media (max-width: 576px) {
  .main__story--container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 10%;
  }
  .main__part--one{
    height: 500px;
    width: 500px;
  }
  .main__part--one:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  .main__part--two{
    height: 500px;
    width: 500px;
  }
  .main__part--two:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  .main__part--three{
    height: 500px;
    width: 500px;
  }
  .main__part--three:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  .main__dark {
    height: 550px
  }
  .main__dark h1 {
    padding-top: 50%;
    padding-left: 10%;
    text-align: center;
    font-size: 35px;
  }
  .main__story--one h4{
    padding-top: 5%;
  }

}

@media (min-width: 576px) {
  .main__story--container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 10%;
  }
  .main__story--one h4 {
    padding-top:5%;
  }

  .main__dark h1 {
    padding-top: 80%;
    padding-left: 20%;
    text-align: none;
    font-size: 25px;
  }

}

@media (min-width: 991.98px) {
  .main__story--container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 10%;
  }
  .main__part--one{
    height: 250px;
    width: 250px;
  }
  .main__part--two{
    height: 250px;
    width: 250px;
  }
  .main__part--three{
    height: 250px;
    width: 250px;
  }
  .main__dark {
    height: 250px
  }
  .main__dark h1 {
    padding-top: 80%;
    padding-left: 10%;
    text-align: none;
    font-size: 25px;
  }
}
